@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

:root {
    --primary-color: #66dfac;
}

body {
    font-family: 'Poppins' sans-serif;
    margin: 0;
    color: white;
    background: #333;

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: aliceblue;
    }

    a:hover {
            text-decoration: none;
            color: white;
        }

    header {
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding: 2em;
        background: #007af3;

        .header-left {
            color: white;
        }

        ul {
            display: flex;

            a {
                color: white;
                padding: 10px;
                margin: 0 5px;
    
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 0;
    }

    .item {
        display: flexbox;
        min-width: 250px;
        border-radius: 1em;
        padding: 2em 0 2em 3.2em;

        img {
            height: 300px;
            width: 300px;
            border-radius: 2em;
        }

        img:before {
            content: '';
            display: block;
            background-image: url('/static/images/default.png');
            height: 300px;
            width: 300px;
            border-radius: 2em;
        }

        #title {
            font-size: 30px;
            color: var(--primary-color);
        }

        #created {
            font-size: 12px;
        }
    }

    .index {
        margin-top: -1em;
        padding: 2em;
       
        }

        #next {
            padding: 0 1em 0 1em;
            color: var(--primary-color);
        }

        #last {
            color: var(--primary-color);
        }

        #first {
            color: var(--primary-color);
            padding: 0 1em 0 0;
        }

        #priv {
            color: var(--primary-color);
            padding: 0 1em 0 0;
        }

    .categories-list {
        font-size: larger;
    }

    .watchlist-info {
        position: absolute;
        padding: 10em 0 0 20em
    }

    .listing-container {
        display: grid;
        grid-template-columns:1fr 1fr;

        #created {
            font-size: 12px;
        }

        .listing-cols {
            padding: 5em 5em 0 5em ;
        }

        .listing-left-col {

            h2 {
                margin-left: 2.8em;
            }
        }

        .listing-right-col {
            padding-left: 0%;

            span {
                font-weight: bold;
                font-size: 20px;
            }

            h3 {
                color: #007af3;
            }
        }
    }

    .bid-error {
        padding-top: 10em;
    }

    .create_listing-form {
        margin-left: 5em;
    }
}