{% extends "auctions/layout.html" %}

{% block body %}

{% if user is not item.author and item.status is False %}

{% if error %}
<div class="bid-error"><center><h2>Your bidding amount should be equal or greater than the current price</h2></center>
</div>
{% else %}
<div class="listing-container">

    <div class="listing-left-col listing-cols">

        <h2> Auction listing <br><br>   
        <a href="{% url 'watchlist' item.id %}" class="btn btn-secondary">
            {% if watched %}
                Remove from Watchlist
            {% else %}
                Add to Watchlist
            {% endif %}
        </a>
        </h2>

        <div class="item">
            <div>
                <img src="{{ item.image_link|default:'/static/images/default.png' }}" alt="image"/>
            </div>
            <div>
                <div id="title">{{ item.title }}</div>
                <div id="desciption"> Description: {{ item.description }}</div>
                <br>
                <div id="Category">Category: {{ item.categories }}</div>
                <br>

                {% if item.current_bid is not none %}
                <div id="price"> Current price: ${{item.current_bid }}</div>
                <br>
                {% else %}
                <div id="price"> Starting bid :${{item.starting_bid }}</div>
                <br>
                {% endif %}

                <div id="created">Ceated at: {{ item.date }}</div>
            </div>  
        </div>

    </div>
   
    <div class="listing-right-col listing-cols ">

        <div>
            {% if item.status == False and item.customer != None%}
            <h2>Listing Closed!</h2><br>
            {% if item.author == user %}
                <span>Auction status:</span>
                <i>The item have been sold to <strong>{{ item.customer}}</strong> at <strong>${{ item.current_bid }}</strong></i>
            {% elif item.customer == user %}
            <i><h3>Congragulations <strong>{{ item.customer}}</strong>!, Your bid for <strong>{{ item.title }}</strong> have won.</h3></i>
            {% else %}
            <span>Auction status:</span>
            <i>Item have been sold</i>
            {% endif %}
            {% endif %}
        </div>
            <br>
        <div>
            <form action="{% url 'comments' item.id %}" method="POST">
                {% csrf_token %}
                {{ form1.as_p }}
                <input class="btn btn-secondary" type="submit" value="Post comment">
            </form>
        </div>
        <br>
            {% if item.status == True and item.author == user %}
            <div>
                <a class="btn btn-secondary" href="{% url 'close_listing' item.id %}">Close Auction</a>
            </div>
            {% endif %}
        <br>
    <div>
        <h2>Comments</h2>
        {% if not item.comments.all %}
            <p>No comments yet </p>
        {% else %}
            {% for comment in item.comments.all %}
                <strong>{{ comment.user }}</strong> at
                <time id="created">{{ comment.date }}</time>
                <br>
                {{ comment.comment }}
                <br>
            {% endfor%}
        {% endif %}
    </div>

    </div>
  
</div>
{% endif %}

{% else %}

{% if error %}
<div class="bid-error"><center><h2>Your bidding amount should be equal or greater than the current price or the starting bid</h2></center>
</div>
{% else %}
<div class="listing-container">

    <div class="listing-left-col listing-cols">

        <h2> Auction listing <br><br>   
            <a href="{% url 'watchlist' item.id %}" class="btn btn-secondary">
                {% if watched %}
                    Remove from Watchlist
                {% else %}
                    Add to Watchlist
                {% endif %}
            </a>
            </h2>

        <div class="item">
            <div>
                <img src="{{ item.image_link|default:'/static/images/default.png' }}" alt="image"/>
            </div>
            <div>
                <div id="title">{{ item.title }}</div>
                <div id="desciption"> Description: {{ item.description }}</div>
                <br>
                <div id="Category">Category: {{ item.categories }}</div>
                <br>

                {% if item.current_bid is not none %}
                <div id="price"> Current price: ${{item.current_bid }}</div>
                <br>
                {% else %}
                <div id="price"> Starting bid :${{item.starting_bid }}</div>
                <br>
                {% endif %}

                <div id="created">Ceated at: {{ item.date }}</div>
            </div>  
        </div>

    </div>
   
    <div class="listing-right-col listing-cols ">

        <center><h2>Bid</h2></center>

        <div>
            <form action="{% url 'bids' item.id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-secondary" type="submit" value="Place Bid">
            </form>
        </div>
        <br><br>
        <div>
            <form action="{% url 'comments' item.id %}" method="POST">
                {% csrf_token %}
                {{ form1.as_p }}
                <input class="btn btn-secondary" type="submit" value="Post comment">
            </form>
        </div>
        <br>
            {% if item.status == True and item.author == user %}
            <div>
                <a class="btn btn-secondary" href="{% url 'close_listing' item.id %}">Close Auction</a>
            </div>
            {% endif %}
        <br>
        <div>
            {% if item.status == False and item.customer != None%}
            <h2>Listing Closed!</h2><br>
            {% if item.author == user %}
                <span>Auction status:</span>
                <i>The item have been sold to <strong>{{ item.customer}}</strong> at <strong>${{ item.current_bid }}</strong></i>
            {% elif item.customer == user %}
            <i><h3>Congragulations <strong>{{ item.customer}}</strong>!, Your bid for <strong>{{ item.title }}</strong> have won.</h3></i>
            {% else %}
            <span>Auction status:</span>
            <i>Item have been sold</i>
            {% endif %}
            {% endif %}
        </div>
    <div>
        <h2>Comments</h2>
        {% if not item.comments.all %}
            <p>No comments yet </p>
        {% else %}
            {% for comment in item.comments.all %}
                <strong>{{ comment.user }}</strong> at
                <time id="created">{{ comment.date }}</time>
                <br>
                {{ comment.comment }}
                <br>
            {% endfor%}
        {% endif %}
    </div>

    </div>
  
</div>
{% endif %}

{% endif %}

{% endblock %}