{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Auction listing</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'watchlist' item.id %}" class="btn btn-secondary">Add to Watchlist</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-secondary">Add to Watchlist</a>
    {% endif %}
    <div class="item" >
        <div><img src="{{item.image_link}}" alt="image"/></div>
        <div>{{ item.title }}</div>
        <div>{{ item.description }}</div>
        <div>${{item.starting_bid }}</div>
        <div>Ceated at: {{ item.date }}</div>
    </div>
{% endblock %}