{% extends "auctions/layout.html" %}

{% block body %}
<section class="index">
    <center><h2>Active Listings</h2></center> 

    <div class="container">

        {% for listing in listing%}
            <a href="{% url 'auction_listing' listing.id %}">
                <div class="item" >
                    <div>
                        <img src="{{ listing.image_link|default:'/static/images/default.png' }}" alt="image"/>
                    </div>
                    <div>
                        <div id="title">{{ listing.title }}</div>
                        <div id="desciption"> Description: {{ listing.description }}</div>
                        <br>
                        <div id="price">${{listing.starting_bid }}</div>
                        <br>
                        <div id="created">Ceated at: {{ listing.date }}</div>
                    </div>
                    
                </div>
                </a>
        {% endfor %}

    </div>
    <center>
        <hr><br>
        {% if listing.has_previous %}
        <a href="?page=1">&laquo Fisrt</a>
        <a href="?page={{ list.previous_page_number }}">Previous</a>
        {% endif %}
        Page {{ listing.number }} of {{ listing.paginator.num_pages }}
        {% if listing.has_next %}
        <a id="next" href="?page={{ listing.next_page_number }}">Next</a>
        <a id="last" href="?page={{ listing.paginator.num_pages }}">Last &raquo</a>
        {% endif %}
        <br>
        <br>
    </center>
</section>
{% endblock %}