{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'auctions/styles.css'%}/">
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
                <div class="header-left">
                    <h1>Auctions</h1>
                    <i>Signed in as-<strong>{{ user.username }}</strong>.</i>
                </div>
                <div class="header-right">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Active Listings</a>
                        </li>
                        <li>
                            <a href="{% url 'categories' %}">Categories</a>
                        </li>
                        <li>
                            <a href="{% url 'create_listing' %}">Create listing</a>
                        </li>
                        <li>
                            <a href="{% url 'watchlist_page' %}">Watchlist</a>
                        </li>
                        <li><a href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="header-left">
                    <h1>Auctions</h1>
                    <i>Not signed in.</i>
                </div>
                <div class="header-right">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Active Listings</a>
                        </li>
                        <li>
                            <a href="{% url 'categories' %}">Categories</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Log In</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>

                    </ul>
                </div>     
            {% endif %}
        </header>
        <section class="body">
            {% block body %}
            {% endblock %}
        </section>
    </body>
</html>


