{% extends "auctions/layout.html" %}

{% block body %}
    {% if list %}
    <center><h2>Your watch listings</h2></center>

    <div class="container">

    {% for listing in list %}
    <a href="{% url 'auction_listing' listing.id %}">
        <div class="item" >
            <div>
                <img src="{{ listing.image_link|default:'/static/images/default.png' }}" alt="image"/>
            </div>
            <div>
                <div id="title">{{ listing.title }}</div>
                <div id="desciption"> Description: {{ listing.description }}</div>
                <br>

                {% if listing.current_bid is not none %}
                <div id="price"> Current price: ${{ listing.current_bid }}</div>
                <br>
                {% else %}
                <div id="price"> Starting bid :${{ listing.starting_bid }}</div>
                <br>
                {% endif %}
                
                <div id="created">Ceated at: {{ listing.date }}</div>
            </div>
            
        </div>
    </a>
    {% endfor %}

    </div>

    {% else %}
        <div class="watchlist-info">
            <h3>Your watchlist is empty, you haven't added any listings to your watchlist yet.</h3>
        </div>

    {% endif %}
{% endblock %}